@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@font-face {
  font-family: "pokemon";
  src: url("assets/PokemonSolid.ttf");
}
:root{
  --cor-principal: #8f0000;
  --secundario: #cb0000;
  --terciario: #680000;
}
* {
  margin: 0;
    font-family: "Jersey 25";
}
.cabeca {
  background-color: #8f0000;
  height: 50px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.titulo-principal {
  font-family: pokemon;
}
.lista-nav {
  display: flex;
  justify-content: right;
  align-items: center;
}
.lista-nav li {
  display: inline;
  margin: 0 10px;
}
.lista-nav a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Jersey 25";
  font-size: 20px;
}
.lista-nav a:hover{
  color: var(--secundario);
}
.ativado{
  /* font-weight:bolder ; */
  color: var(--secundario) !important;
}
.pokebola-img {
  height: 40px;
  border-radius: 100px;
}

.conteudo-principal {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-principal {
  display: flex;
  justify-content: center;
  margin: 20px;

}
.card-principal img {
  width: 40%;
  border-radius: 30px;

}

/* carrossel */
.carrossel{
  display: flex;
  justify-content: center;
  background-color: #8f0000;
  padding: 20px;
}
.carrossel-imagens{
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.carrossel-card{
  color: aliceblue;
  width: 15%;
  font-family: "Jersey 25";
  /* background-color: rgb(114, 0, 0); */
  padding: 1%;
  border-radius: 2px 2px 20px 20px;
  border: solid 2px #680000;
  box-shadow: #680000 2px 2px 5px;
  font-size:x-large;
}

.carrossel-card:hover{
  padding-top: 20px;
}

.carrossel-img{
  width: 100%;
  border-radius: 2px 2px 20px 20px;

}
.carrossel-card button{
  margin-top: 10%;
  padding: 2% 10%;  
  border: none;
}
.carrossel-card button:hover{
  background-color: var(--secundario);
  color: aliceblue    ;
}


/* Produto Principal */
.produto-principal-container{
  display: flex;
  width: 90%;
  margin: 8% auto;

}
.produto-principal-container img{
  width: 30%;
}

.produto-principal-conteudo{
  /* border: solid 1px red; */
  width: 70%;
  padding-left: 4%;
  padding-bottom: 10% ;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.produto-principal-conteudo h3{
  font-size: 40px;
}


.produto-principal-conteudo button{
    background-color: var(--cor-principal);
    color: aliceblue;
    border: solid 1px #cb0000;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-top: 5%;
    
  }

  .produto-principal-conteudo button:hover{
    background-color: #cb0000;
  }
  footer{
    
    background-color: var(--cor-principal);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }


  /* ---------------------------Login------------------------------ */
  .login{
    /* width: 35%; */
    height: 50vh;
    aspect-ratio: 1.5/1;
    margin: 1% auto;
    background-color: var(--cor-principal);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    box-shadow:#680000 10px 10px 10px;


  }

  .login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    
  }

  .login form input{
    width: 70%;
    /* aspect-ratio: 11/1; */
    padding: 2%;
    display: block;
    margin: 10px;
    border-radius: 5px;
    border: none;
  }
  .login div{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7%;
  }
  .login button{
    width: 30%;
    padding: 1.5%;
    border: none;
  }
  .login button:hover{
    background-color: var(--secundario);
    /* border: solid 1px aliceblue; */
    color: aliceblue;
  }
  .login a{
    text-decoration: none;
    color: aliceblue;
  }
  .login a:hover{
    color: var(--secundario);
  }

  /* ------------------------------------Produtos------------------------------------- */

  .produtos-titulo{
    margin: 1% 0 5% 0; 
  }
  .produtos-preco{
    font-size: 15px;
  }

  .produtos-linha {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    width: 90%;
    margin: 5% auto;
  }
  .produtos-card{
    background-color: var(--cor-principal);
    width: 20%;
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: black 0px 0 10px;
    margin: 1%;
  }
  .produtos-card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .produtos-card button{
    width: 100%;
    padding: 2% 0;
    border: 2px solid var(--cor-principal);
    border-radius: 0 0 10px 10px;
  }

  .produtos-card button:hover{
    background-color:#680000;
    color: aliceblue;
  }
  .produtos-card-conteudo{
    margin: 5%;
  }


  /* -----------------------Carrinho---------------------- */
 
  .carrinho-titulo{
    text-align: center;
    margin: 40px;
    font-size: 60px;
  }
  .carrinho-produto{
    background-color:#680000 ;
    padding: 1%;
    width: 70%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    border: solid 2px var(--terciario);
    border-radius: 30px;

  }

  .carrinho-produto img{
    width: 50%;
    border-radius: 30px 0 0 30px;
  }
  .carrinho-conteudo{
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    color: aliceblue;


  }
  .carrinho-conteudo div{
    font-size: x-large;

  }
  .carrinho-produto button{
    margin-top: 10;
    width: 50%;
    padding: 3%;
    border-radius: 15px;
  }
  .carrinho-produto button:hover{
    background-color: var(--cor-principal);
    border: none;
    color: aliceblue;
  }
  .carrinho-vazio{
    color: aliceblue;
    font-size: 40px;
  }